@inject Test_GSNR.Data.Repository.INotesRepository repository

@page "/notes"

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Заметки</h2>

            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Описание</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                @foreach(var item in notes)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                <button class="btn btn-danger" @onclick="(() => Delete(item.Id))">Удалить</button>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>

            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="Введите название заметки" @bind="title"/>
                </div>
                <div class="col">
                    <input class="form-control" placeholder="Введите содержание заметки" @bind="description"/>
                </div>
                <div class="col">
                    <button class="btn btn-success" @onclick="AddNote">Добавить</button>
                </div>
            </div>
            
        </div>
    </div>
</div>

@code {
    private IEnumerable<NoteItem> notes = new List<NoteItem>();

    protected override void OnInitialized()
    {
        notes = repository.GetAllNotes();
    }

    private string title = null!;

    private string description = null!;

    private void AddNote()
    {
        if (!string.IsNullOrWhiteSpace(title) && !string.IsNullOrWhiteSpace(description))
        {
            //notes.Add(new NoteItem() 
            //    {   
            //        Title = title, 
            //        Description = description 
            //    });

            repository.AddNote(title, description);

            title = string.Empty;
            description = string.Empty;
        }
    }

    private void Delete(int Id)
    {
        //var note = repository.FindNoteById(Id);
        //if (note != null)
        //{
        //    notes.Remove(note);
        //}
        repository.DeleteNote(Id);
    }
}
