@page "/notes"

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Заметки</h2>

            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Описание</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                @foreach(var item in notes)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.Title
                            </td
                            <td>
                                @item.Description
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>

@code {
    private IList<NoteItem> notes = new List<NoteItem>();
}
